body {
    left: 0;
    top: 0;
    max-width: 70%;
    width: 70%;
    padding: 30px 13%;
}

a {
    text-decoration: none;
}

header {}

.LogoName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #1DA1F2;
}

.WelcomeText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    color: #4154fc;
    text-align: center;
    margin-top: 60px;
}

.ProfileBlock {
    background-color: #1DA1F2;
}